
body{
    background-color: wheat;
}

h2 {
    color: brown;
    text-align: center;
}

#retangle {
    background-color: rgb(219, 200, 200);
    width: 81.5%;
    height: 80px;
    margin-left: 110px ;
    border-color: white;
    font-size: 40px;
}

.product {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 5px;
    
    justify-items: center;
}

button {
    background-color: rgb(219, 200, 200);
    border-color: bisque;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(190, 170, 170);
    border-color: bisque;
    transition-duration: 0.05s;
}
